:root {
    --primary-blue: rgb(102, 108, 163);
    --primary-dark-blue: rgb(19, 24, 63);
    --grey: rgb(131, 134, 154);
    --dark-pink: rgb(247, 71, 128);
    --light-pink: rgb(255, 167, 195);
    --gradient-orange: linear-gradient(180deg, rgb(255, 111, 72), rgb(240, 42, 166));
    --gradient-blue: linear-gradient(180deg, rgb(72, 81, 255), rgb(240, 42, 166));
    --font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 50%, #F0F2FF);
    overflow-x: hidden;
}

.overflow-container {
    position: relative;
    overflow: hidden;
}

.body-container {
    max-width: 300px;
    margin: auto;
    margin-top: 24px;
}


/* HEADER */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.website-logo-header {
    width: 89px;
    height: auto;
    display: flex;
    align-self: flex-start;
    align-self: center;
}

.header-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 11px 24px 11px 24px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-dark-blue);
    transition: all 200ms ease-in-out;
    display: flex;
    justify-self: center;
    align-self: flex-end;
    z-index: 1;
}

.header-button:hover {
    cursor: pointer;
    background-color: var(--primary-blue);
}

.header-button:active {
    cursor: pointer;
    background-color: var(--primary-dark-blue);
}

.text-container {
    margin-top: 40px;
    width: 300px;
    height: auto;
}

.text-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 38px 15px 38px;
    border-radius: 30px;
    border: none;
    background-image: var(--gradient-orange);
    transition: all 200ms ease-in-out;
}

.text-button:hover {
    cursor: pointer;
    opacity: 50%;
}

.text-button:active {
    cursor: pointer;
    opacity: 100%;
}

h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 30px;
}

.text-p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

main {
    margin-bottom: 140px;
}

.hero-mobile-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/* GRID */

.grid-container img {
    height: 56px;
    width: 56px;
}

.animation-logo,
.design-logo,
.photography-logo,
.crypto-logo,
.business-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-container {
    display: grid;
    gap: 26px 0px;
    justify-content: center;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6 {
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 15px;
    box-shadow: 5px 15px 30px #edeef9;
}

.grid-item-1 {
    width: 343px;
    height: 120px;
    background-image: var(--gradient-orange);
}

.grid-item-1 h2 {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    padding: 24px 28px 0px 28px;
}

.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6 {
    background-color: white;
    width: 343px;
    height: 283px;
}

.grid-item-2 a,
.grid-item-3 a,
.grid-item-4 a,
.grid-item-5 a,
.grid-item-6 a {
    padding-left: 32px;
}

.grid-item-2-text,
.grid-item-4-text,
.grid-item-5-text,
.grid-item-6-text {
    padding: 0px 32px 0px 32px;
}

.grid-item-3-text {
    padding: 0px 32px 25px 32px;
}

h3 {
    font-family: var(--font-family);
    color: var(--primary-dark-blue);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
}

.grid-container p {
    font-family: var(--font-family);
    color: var(--grey);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.grid-container a {
    font-family: var(--font-family);
    color: var(--dark-pink);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    transition: all 200ms ease-in-out;
}

.grid-container a:hover {
    cursor: pointer;
    color: var(--light-pink);
}

.grid-container a:active {
    cursor: pointer;
    color: var(--primary-dark-blue);
}


/* FOOTER */

footer {
    background-color: var(--primary-dark-blue);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 32px;
    max-width: 300px;
    margin: 0 auto;
}

.footer-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 11px 24px 11px 24px;
    border-radius: 30px;
    border: none;
    background-image: var(--gradient-blue);
    transition: all 200ms ease-in-out;
    display: flex;
    justify-self: center;
    align-self: flex-end;
}

.footer-button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgb(134, 140, 253), rgb(230, 107, 185));
}

.footer-button:active {
    cursor: pointer;
    opacity: 100%;
}

.website-logo-footer {
    display: flex;
    align-self: flex-start;
    align-self: center;
    width: 89px;
    height: auto;
}

.footer-text {
    font-family: var(--font-family);
    color: var(--primary-dark-blue);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin-block: 20px;
}

.footer-text a {
    font-family: var(--font-family);
    color: var(--primary-dark-blue);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    transition: all 200ms ease-in-out;
}

.footer-text a:hover {
    cursor: pointer;
    color: var(--dark-pink);
}

.footer-text a:active {
    cursor: pointer;
    color: var(--primary-dark-blue);
}

@media (max-width: 700px) {

    .website-image {
        display: none;
    }
}

@media (min-width: 700px) {
    .body-container {
        max-width: 700px;
    }

    .footer-container {
        max-width: 700px;
    }

    .hero-mobile-image {
        display: none;
    }

    .website-image {
        position: absolute;
        max-width: 100%;
        top: -80px;
        right: -200px;
    }

    .text-container {
        margin-top: 100px;
        width: 350px;
        height: auto;
        margin-bottom: 170px
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0px;
    }

    /* GRID */

    .grid-container {
        gap: 32px 10px;
    }

    .grid-item-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 339px;
        height: 259px;
    }

    .grid-item-1 h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        padding: 56px 32px 0px 32px;
    }

    .grid-item-2,
    .grid-item-4,
    .grid-item-6 {
        grid-column-start: 2;
        grid-column-end: 2;
        width: 340px;
        height: 259px;
    }

    .grid-item-4-text {
        padding: 0px 32px 25px 32px;
    }

    .grid-item-3,
    .grid-item-5 {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 340px;
        height: 259px;
    }

    .grid-container p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1150px) {

    .body-container {
        max-width: 1100px;
    }

    .footer-container {
        max-width: 1100px;
    }

    .website-image {
        top: -150px;
        right: -280px;
    }

    .text-container {
        margin-top: 185px;
        width: 398px;
        height: auto;
        margin-bottom: 230px;
    }

    /* HEADER */

    .website-logo-header {
        width: 114px;
    }

    h1 {
        font-size: 56px;
        line-height: 71px;
        margin-bottom: 30px;
    }

    .header-button {
        font-size: 18px;
        padding: 14px 32px 14px 32px;
    }

    .text-button {
        font-size: 18px;
        line-height: 28px;
        padding: 19px 32px 16px 32px;
    }

    .text-container {
        width: 457px;
    }


    /* GRID */

    .grid-container {
        gap: 56px 30px;
    }

    .grid-item-1,
    .grid-item-4 {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 346px;
        height: 322px;
    }

    .grid-item-1 h2 {
        font-size: 32px;
        line-height: 40px;
        padding: 64px 32px 0px 32px;
    }

    .grid-item-2,
    .grid-item-5 {
        grid-column-start: 2;
        grid-column-end: 2;
        width: 346px;
        height: 322px;
    }

    .grid-item-3,
    .grid-item-6 {
        grid-column-start: 3;
        grid-column-end: 3;
        height: 322px;
        width: 346px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .grid-container p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 50px;
    }

    /* FOOTER */

    .website-logo-footer {
        width: 114px;
    }

    .footer-button {
        font-size: 18px;
        line-height: 28px;
        padding: 14px 32px 14px 32px;
    }
}