:root {
    --primary-blue: rgb(102, 108, 163);
    --primary-dark-blue: rgb(19, 24, 63);
    --grey: rgb(131, 134, 154);
    --dark-pink: rgb(247, 71, 128);
    --light-pink: rgb(255, 167, 195);
    --gradient-orange: linear-gradient(180deg, rgb(255, 111, 72), rgb(240, 42, 166));
    --gradient-blue: linear-gradient(180deg, rgb(72, 81, 255), rgb(240, 42, 166));
    --font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 60%, #F0F2FF);
}

.header-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 32px 14px 32px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-dark-blue);
    transition: all 200ms ease-in-out;
}

.header-button:hover {
    cursor: pointer;
    background-color: var(--primary-blue);
}

.header-button:active {
    cursor: pointer;
    background-color: var(--primary-dark-blue);
}

.text-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 19px 32px 16px 32px;
    border-radius: 30px;
    border: none;
    background-image: var(--gradient-orange);
    transition: all 200ms ease-in-out;
}

.text-button:hover {
    cursor: pointer;
    opacity: 50%;
}

.text-button:active {
    cursor: pointer;
    opacity: 100%;
}

.footer-button {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 32px 14px 32px;
    border-radius: 30px;
    border: none;
    background-image: var(--gradient-blue);
    transition: all 200ms ease-in-out;
}

.footer-button:hover {
    cursor: pointer;
    opacity: 50%;
}

.footer-button:active {
    cursor: pointer;
    opacity: 100%;
}


h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
}

.text-p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}




h3 {
    font-family: var(--font-family);
    color: var(--primary-dark-blue);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
}

.grid-item-1 h2 {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    padding: 64px 32px 0px 32px;
}

.grid-container {
    display: grid;
    gap: 56px 30px;
    justify-content: center;
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 346px;
    height: 322px;
    background-image: var(--gradient-orange);
    border-radius: 10px;

}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: white;
    border-radius: 10px;
    width: 346px;
    height: 322px;
}

.grid-item-2-text {
    padding: 0px 32px 0px 32px;
}

.animation-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: white;
    border-radius: 10px;
    height: 322px;
    width: 346px;
}

.design-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-item-3-text {
    padding: 0px 32px 0px 32px;
}

.grid-item-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: white;
    border-radius: 10px;
    height: 322px;
    width: 346px;
}

.photography-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-item-4-text {
    padding: 0px 32px 0px 32px;
}

.grid-item-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: white;
    border-radius: 10px;
    height: 322px;
    width: 346px;
}

.crypto-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-item-5-text {
    padding: 0px 32px 0px 32px;
}

.grid-item-6 {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: white;
    border-radius: 10px;
    height: 322px;
    width: 346px;
}

.business-logo {
    position: relative;
    bottom: 20px;
    left: 25px;
}

.grid-item-6-text {
    padding: 0px 32px 0px 32px;
}


.grid-container p {
    font-family: var(--font-family);
    color: var(--grey);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.grid-container a {
    font-family: var(--font-family);
    color: var(--dark-pink);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    transition: all 200ms ease-in-out;
}

.grid-container a:hover {
    cursor: pointer;
    color: var(--light-pink);
}

.grid-container a:active {
    cursor: pointer;
    color: var(--primary-dark-blue);
}

footer {
    background-color: var(--primary-dark-blue);
}

.footer-text {
    font-family: var(--font-family);
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.footer-text a {
    font-family: var(--font-family);
    color: var(--primary-blue);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    transition: all 200ms ease-in-out;
}

.footer-text a:hover {
    cursor: pointer;
    color: var(--dark-pink);
}

.footer-text a:active {
    cursor: pointer;
    color: var(--primary-dark-blue);
}


.website-logo-header {
    width: 114px;
    height: auto;
}

/* tablet and mobile: 89px */

.image-hero-desktop {
    height: auto;
    width: 992px;
    max-width: 100%;
}

.image-hero-desktop-2 {
    height: auto;
    width: 992px;
    max-width: 100%;
}

.image-hero-tablet {
    height: auto;
    width: 641px;
    max-width: 100%;
}

.image-hero-tablet-2 {
    height: auto;
    width: 641px;
    max-width: 100%;
}

.image-hero-mobile {
    height: auto;
    width: 327px;
    max-width: 100%;
}

.image-hero-mobile-2 {
    height: auto;
    width: 327px;
    max-width: 100%;
}

.grid-container img {
    height: 56px;
    width: 56px;
}